<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/admin/ueditor/ueditor.config.js"></script>
    <script src="/static/admin/ueditor/ueditor.all.min.js"></script>
    <script src="/static/admin/ueditor/lang/zh-cn/zh-cn.js"></script>
    <link  rel="stylesheet" type="text/css" href="/static/admin/css/style.css"/>
</head>
<body>
<textarea name="content" id="content"></textarea>

</body>
<script type="text/javascript">
    UE.getEditor('content');
</script>
</html>

