#div1{
    width: 900px;
    height: 50px;

    background:rgba(209, 0, 137, 0.13);
}
#div2{
    width: 900px;
    height: 240px;

    background:rgba(209, 0, 137, 0.13);
}
#div3{
    width: 100px;
    height: 40px;

    background: url("2.jpg");
}