<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="rz">

<!-- Bootstrap core CSS -->
<link href="/s"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link href="static/js/signin.css" th:href="@{/js/signin.css}"
	rel="stylesheet">
</head>

<body class="text-center">
	<form id="form1"class="form-signin" action="/login" method="post">
		<img class="mb-4" src="asserts/img/bootstrap-solid.svg" alt=""
			width="72" height="72">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label class="sr-only">Account</label> 
		<input type="text" name="uAccount" th:value="${account}"
			class="form-control" placeholder="Account" required autofocus>
		<label class="sr-only">Password</label> 
		<input type="password" name="uPassword"
			class="form-control" placeholder="Password" required>
			<b th:text="${msg}"></b>
		<div class="checkbox mb-3">
			<label> <input type="checkbox" value="remember-me">
				Remember me
			</label>
			<label>
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
			in</button>
		<!-- <p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
		<p class="mt-5 mb-3 text-muted"><a class="btn btn-sm" href="/2register">注册</a></p>
		<a class="btn btn-sm">中文</a> <a class="btn btn-sm">English</a>
		
	</form>

</body>

</html>