 .tabs  li{
 	list-style: none;
 	float: left;
 	padding: 10px;
 	
 }
#main_d1{
	width: 100%;
	border: 1px solid black;
	height: 100px;
	background-color:blue; 
	
	
}
#top_p1{
	position:absolute;
	right:200px;
}

#main1{
	border: 1px solid black;
	
}

